@import url('./floatingLabel.css');
/*@font-face {*/
    /*font-family: 'AvenirNextCyrR';*/
    /*src: url('./fonts/AvenirNextCyr-Regular.woff');*/
/*}*/

/*@font-face {*/
    /*font-family: 'AvenirNextCyrB';*/
    /*src: url('./fonts/AvenirNextCyr-Bold.woff');*/
/*}*/

/*@font-face {*/
    /*font-family: 'AvenirNextCyrL';*/
    /*src: url('./fonts/AvenirNextCyr-Light.woff');*/
/*}*/

:root {
    --turquoise: #51BBBE;
    --black8: rgba(0,0,0,0.8);
    --black6: rgba(0,0,0,0.6);
}

body, html {
    font-family: Open Sans, sans-serif;
    float: left;
    width: 100%;
    font-weight: 200;
    margin: 0;
    padding: 0;
}

.wrap-contact-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 20px;
}
.wrap-contact-form [class^='contact'] {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    position: relative;
}

textarea#comment {
    width: 272px;
    height: 60px;
    font-size: 16px;
}

.wrap-contact-form {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.wrap-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*button*/
.button {
    color: #757575;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    display: flex;
    cursor: pointer;
    margin: 11px 4px;
    padding: 0 16px;
    min-width: 88px;
    height: 36px;
    line-height: 27px;
    border: none;
    border-radius: 2px;
    outline: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(0, 0, 0, 0.125);
    transition-property: box-shadow, background;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 1);
    overflow: hidden;
}
.button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25), 0px 0px 4px rgba(0, 0, 0, 0.125);
}
.button:active {
    transition-duration: 0s;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 0px 1px rgba(0, 0, 0, 0.125);
}

.ripple {
    position: absolute;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    transform: scale(0);
    pointer-events: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.ripple.show {
    animation: ripple .75s ease-out;
}

@keyframes ripple {
    to {
        transform: scale(2);
        opacity: 0;
    }
}
